<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Guess The Number</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <h1>You Win!</h1>

    <h2>
      You guessed it! I was thinking of the number <%= secret_number %>.
    </h2>

    <p>
      <a href="/new">Play Again</a>
    </p>
  </body>
</html>
